.DS_Store
.htaccess
vendor/
composer.lock
config.ini
temp/
temp_*
*.temp
*.csv
*.log
logs/
old/
docroot/archives/daily/*.html
docroot/archives/weekly/*.html
docroot/archives/monthly/*.html
docroot/archives/airport_guides/*.csv
